<div class="main">

  <div class="form-top element-bg mb-30">

    <h4 class="form-element-title">Sign up</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'epic-signup-form padding-xs-30 padding-sm-20 padding-md-30'}) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-group epic-input-addon mb-20">
        <span class="input-group-addon"><i class="euki-user"></i></span>
        <%= f.email_field :email, class: 'form-control epic-form-input input-lg', placeholder: 'email', autofocus: true %>
      </div>

      <div class="input-group epic-input-addon mb-20">
        <span class="input-group-addon"><i class="euki-lock"></i></span>
        <%= f.password_field :password, class: 'form-control epic-form-input input-lg', placeholder: 'password', autocomplete: "off" %>
      </div>

      <div class="input-group epic-input-addon mb-20">
        <span class="input-group-addon"><i class="euki-lock"></i></span>
        <%= f.password_field :password_confirmation, class: 'form-control epic-form-input input-lg', placeholder: 'confirm password', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-block btn-lg form-btn btn-style" %>
      </div>
    <% end %>

  </div>

</div>
