<%= form_for(share) do |f| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :decks %>
    <%= f.select :deck_id, current_user.decks.collect {|x| [x.name, x.id]}, {}, class: 'pt-input' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'pt-input' %>
  </div>

  <div class="actions">
    <%= f.submit('Invite', class: 'pt-button pt-icon-add pt-intent-success', style: 'width:100px;') %>
  </div>
<% end %>
