<div class="main">

  <h3>Please Log In, or <a href="/signup">Sign Up</a></h3>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <a href="#" class="btn btn-lg btn-info btn-block">LinkedIn</a>
    </div>
  </div>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <label for="inputUsernameEmail">Email</label>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group">
      <%= link_to "Forgot password?", new_password_path(resource_name), class: "pull-right" %>
      <label for="inputPassword">Password</label>
      <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox pull-right">
        <label>
        <%= f.check_box :remember_me %>
        Remember me </label>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn btn-primary" %>
    </div>
  <% end %>

</div>
