<div style="padding:30px;">
  <div class="row">
    <div class="col-md-3">
      <p id="notice"><%= notice %></p>
      <div style="float:right;">
      </div>
    </div>
    <div class="col-md-6">
      <div style="padding:5px;">
        <h1>Decks</h1>
      </div>

      <table class="pt-table pt-interactive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Views</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @decks.each do |deck| %>
            <tr>
              <td><%= deck.name %></td>
              <td><%= deck.description %></td>
              <td><%= 10.times.map{ 10 + Random.rand(11) }.first %> </td>
              <td><a href="/decks/<%= deck.id %>" title="Show"><span class="pt-icon-standard pt-icon-document-open"></span></a></td>
              <td><a href="/decks/<%= deck.id %>/edit" title="Edit"><span class="pt-icon-standard pt-icon-edit"></span></a></td>
              <td><%= link_to raw('<span class="pt-icon-standard pt-icon-trash"></span>'), deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><a href="/decks" title="Shares"><span class="pt-icon-standard pt-icon-share"></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
          <br>
    </div>
    <div class="col-md-3">
      <%= link_to 'Upload Deck', new_deck_path, class: 'pt-button pt-icon-add pt-intent-primary' %>
    </div>
  </div>
</div>
