
<div class='col-md-2'>
 <h4>Slides</h4>
 <% @deck.slides.each_with_index do |slide, idx| %>
  <div class="slides_<%=idx%>" onclick="dogoAnno.activateSelector();dogoAnno.reset();">
    <img src="<%=slide.image.url(:thumb)%>"/>
    <%= idx %>
    <script>
    $('.slides_<%=idx%>').on('click', function(){
      DOGOANNO.setCurrentSlide(<%=slide.id%>);
      setTimeout(function() {
        $('.slide').html("<img src='<%=slide.image%>' id='document' class='annotatable' style='width:96%;'/>");
      }, 300)
      setTimeout(function() {
        DOGOANNO.reset();
        <% if slide.content %>
          $(document).ready(function() {
            DOGOANNO.loadAnnotations(<%=raw slide.content.to_json%>);
          });
        <% end %>
      }, 400)
    })
    </script>
  </div>
  <br />
  <br />
 <% end %>
</div>
<div class='col-md-8'>
  <iframe src="http://docs.google.com/gview?url=http:<%= @deck.pdf_url %>&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
  <% if @deck.slides.present? %>
  <p>

    <div class="slide"><img src="<%= @deck.slides.first.image.url %>" id="document" class="annotatable" style="width:96%;" /></div>
  </p>
  <% end %>
</div>
<div class='col-md-2'>
  <h4>Chat</h4>
    <div id="chat-log" class="chat-log">
      <div id="load_deck_chats">
        <%= render 'messages/messages', default_deck: @deck %>
      </div>
    </div>
        <!-- Text input field -->
    <div class="chat-padding">
      <div class="chat-input-area">
        <%= form_for(@message, :remote => true) do |f| %>
          <%= f.hidden_field(:user_id, :value => current_user.id) %>
          <%= f.hidden_field(:deck_id, :id => "update_deck_chat_id", :value => @deck.id) %>
          <i class="fa fa-cog fa-spin fa-2x" id="loader" style="display:none;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #7AAF6D;color:#3E4550;position:absolute;left:-7%;bottom:8px;"></i>
          <%= f.text_field :content, :class => "right-chat-input", :id => "right-chat-input", :placeholder => "Say Something...", autocomplete: "off" %>
          <input type="submit" style="visibility: hidden;" />
        <% end %>
      </div>
    </div>
</div>

<% if @reader %>
  <div><h4>Details</h4></div>
  <div>
    Page Count: <%= @reader.page_count %><br />
    PDF version: <%= @reader.pdf_version %><br />
  </div>
<% end %>
<% if @deck.slides.present? %>
<script>
$(document).ready(function() {
  setTimeout(function() {
    DOGOANNO.setCurrentSlide(<%=@deck.slides.first.id%>);
    <% if @deck.slides.first.content %>
      annotation = [<%=raw @deck.slides.first.content.to_json%>]
      anno.addAnnotation(annotation[0]);
    <% end %>
  }, 1000)
});
</script>
<% end %>
