<!DOCTYPE html>
<html>
<head>
  <title>dogo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <script>

   window.fbAsyncInit = function() {
    FB.init({
      appId      : '230502080710202',
      xfbml      : true,
      version    : 'v2.6'
    });

    FB.Event.subscribe('messenger_checkbox', function(e) {
      console.log("messenger_checkbox event");
      console.log(e);

      if (e.event == 'rendered') {
        console.log("Plugin was rendered");
      } else if (e.event == 'checkbox') {
        var checkboxState = e.state;
        console.log("Checkbox state: " + checkboxState);
      } else if (e.event == 'not_you') {
        console.log("User clicked 'not you'");
      } else if (e.event == 'hidden') {
        console.log("Plugin was hidden");
      }

    });
    function confirmOptIn() {
      FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
        'app_id':'230502080710202',
        'page_id':'1853353121565048',
        'ref':'dogo',
        'user_ref':'1234'
      });
    }
  };
  </script>

  <div class="fb-messenger-checkbox"
    origin=https://dogo-staging.herokuapp.com
    page_id=1853353121565048
    messenger_app_id=230502080710202
    user_ref="UNIQUE_REF_PARAM"
    prechecked="true"
    allow_login="true"
    size="medium">
  </div>
</head>
<body onload="DOGOANNO.load();">
  <%= render partial: '/shared/nav' %>
  <% if alert %>
    <p class="alert pt-callout pt-intent-primary pt-icon-info-sign"><%= alert %></p>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
